<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tablet.smartedu"
    android:sharedUserId="android.uid.system">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.tablet.smartedu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.tablet.smartedu.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lenovo.smartedu.action.CONTENT_PUSH" />
                <action android:name="com.tablet.smartedu.action.CONTENT_PUSH" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INJECT_EVENTS" />

</manifest>